* {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color:#fffdf9;
}
h1{
  color:#beebe9;
}
h3 {
  color: #8ac6d1;
}
hr {

  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}
img{
  height: 200px;
  border-radius: 100%;
}
