body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
* {
  line-height: 2;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:#66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color:#66BFBF;
    font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
a {
  color: #11999E;
}
div {
//  background-color: #cff1ef;
}

.middle-container {

}

.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #EAF6F6;
}
.skill-row {
  width: 50%;
  margin:100px auto;
  text-align: left;
  line-height: 2;
}
.code-img{
  width: 25%;
  float: left;
  margin-right:30px;

}
.chilli-img{
  width: 25%;
  float: right;
  margin-left:30px;
}
.code-skill-description{
  clear: left;
}
.chilli-description{
  clear: right;
}
.hello-text{
  color:#40514E;
}

hr {
  color:#EAF6F6;
  border:none;
  border-top: dotted;
  border-width:10px;
  height: 0;
  border-width: 100;
  width:10%;
}
.copyright{
  color:#EAF6F6;
  font-size: .75rem;
  padding:20px 0;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:8px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.btn:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.btn:active {
	position:relative;
	top:1px;
}
.contact-me {
  margin: 40px;
}
a {
  color:#11999E;
  text-decoration: none;
  font-family: 'Montserrat',sans-serif;
  margin:10px 20px;
}
